@font-face {
  font-family: "Gamine";
  src: url(./resources/Gamine.ttf);
  font-weight: normal;
}

* {
  font-family: "Gamine", sans-serif;
  background-color: #1a1a30;
}

.header {
  padding: 0.5rem 1rem 2rem 1rem;
}

.header h1 {
  font-size: 2.5rem;
}

.header p {
  margin-top: -0.5rem;
  font-family: "Century Gothic", sans-serif;
  font-size: 0.9rem;
}

.footer {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  text-align: center;
}

.footer a {
  color: #c4c4c4;
}

.footer a:hover {
  color: #fdfdfe;
}

.footer a:focus, .footer a:active {
  outline: 2px dashed #fdfdfe;
  color: #fdfdfe;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10%;
  text-align: center;
}

.introduction p {
  font-family: "Century Gothic", sans-serif;
  font-size: 1rem;
}

.introduction img {
  max-width: 100%;
  border: 0px solid red;
  border-radius: 50px;
}

.introduction figcaption {
  font-family: "Century Gothic", sans-serif;
  font-size: 0.7rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .introduction {
    max-width: 70%;
    margin: 10% auto;
  }
}

@media screen and (min-width: 1024px) {
  .introduction {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
    margin-right: -50%;
    margin-top: 0;
    min-width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introduction .cta {
    max-width: 60%;
  }
  .introduction p {
    padding: 0rem 2rem;
    font-size: 1.5rem !important;
    max-width: 100%;
  }
  .introduction button {
    font-size: 2rem;
  }
}

.result {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  margin-right: -50%;
  text-align: center;
}

.result p {
  font-size: 2.5rem;
}

.result button {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .result h2 {
    font-size: 2rem;
  }
  .result p {
    font-size: 4rem;
  }
  .result button {
    font-size: 1.2rem;
  }
}

.test {
  padding: 0rem 3rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .test {
    min-width: 65%;
  }
}

@media screen and (min-width: 1024px) {
  .test {
    min-width: 50%;
  }
}

.question {
  text-align: center;
  font-size: 1.6rem;
}

.answer-button {
  padding: 1rem;
  margin: 0.5rem 0rem;
  border-radius: 50px;
  border-width: 4px;
  font-size: 1.2rem;
}

.answer-button:hover {
  -webkit-box-shadow: 0px 0px 15px 0px;
          box-shadow: 0px 0px 15px 0px;
  text-shadow: 0px 0px 15px;
  border-color: #fdfdfe !important;
  border-width: 4px;
}

.intro-button {
  margin-bottom: 1rem;
  padding: 0rem 2rem;
  max-width: 90%;
  border-radius: 50px;
  border-width: 2px;
  font-size: 1.2rem;
}

.intro-button:hover {
  -webkit-box-shadow: 0px 0px 15px 0px;
          box-shadow: 0px 0px 15px 0px;
  text-shadow: 0px 0px 15px;
  border-color: #fdfdfe !important;
  border-width: 2px;
}

.progress {
  margin-top: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.progress-bar {
  background-color: #fdfdfe !important;
}
/*# sourceMappingURL=app.css.map */