//VARIABLES

//colors

$white: #FDFDFE;

//fonts

@font-face {
    font-family: 'Gamine';
    src: url(./fonts/Gamine.ttf);
    font-weight: normal;
}

$gamine: "Gamine", sans-serif;
$century: "Century Gothic", sans-serif;

//########
//STYLING

//base
* {
    font-family: $gamine;
    background-color: #1a1a30;
    
}

.header {
    p {
      font-family: $century;
    }
  }

  
.progress-bar {
    background-color: $white !important;
}